body {
    height: 60vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}

a {
    margin-top: 200px;
    text-decoration: none;
    color: rgb(231, 198, 198);
    font-family: sans-serif;
    font-size: 40px;
    border: 4px solid rgb(104, 92, 92);
    position: relative;
    padding: 40px 80px;
    overflow: hidden;
    border-radius: 5%;
}

a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(13, 125, 112);
    color: aliceblue;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom right;
    transform: rotate(-90deg);
    transition: transform .5s;
}

a:hover::before {
    transform: rotate(0deg)
}